body
{
margin: 0px;
font-family: 'Oswald', sans-serif;
background-image: url(../imagens/fundo.png);
}

p{
    color: rgb(0, 0, 0);
}

header{
    background-color: #030402 ;
    color:#d2d600;
    align-items:center;
    justify-content: center;
}

.container{
    width: 70%;
    margin: 0 auto;
    padding-top: 20px;
}

.redes-sociais{
    display: flex;
    flex-direction: row;
    justify-content:right;
    padding-top: 0%;
}

a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.botaoHome{
    padding-left: 10px;
    padding-top: 1%;
}

button{
    outline: none;
    cursor: pointer;
}